body,td,th {
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
tr {
	font-size: 12px;
	color: #0066FF;

}
/**********************************************
标题的字体大小:12,加粗,白色
***********************************************/

.title {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	
}
/**********************************************
左右表格标题的背景
***********************************************/

.titlebg{
background-image: url(../images/title1.gif);
}
/**********************************************
中间表格标题的背景
***********************************************/

.titlecenbg{
background-image: url(../images/bg3.gif);
}

/**********************************************
table_style:表格背景颜色
td_style:单元格背景颜色
***********************************************/
.table_style {
	background-color: #135ea2;
}
.td_style {
	background-color: #9accfa;
}
/**********************************************
定义底部的背景图片
***********************************************/
.bottombg {
	background-image: url(../images/bottombg.gif);
}



.dh {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #0033FF;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
