<div class="content" id="onepage">

	<h3><a href="/Download/Official/">更多..</a>官方模块</h3>
	<div class="title4">
		{king:download listid="2" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Download/Third/">更多..</a>第三方模块</h3>
	<div class="title4">
		{king:download listid="3" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Download/Templates/">更多..</a>网站模板</h3>
	<div class="title4">
		{king:download listid="1" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Download/FullSite/">更多..</a>整站下载</h3>
	<div class="title4">
		{king:download listid="4" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Download/Stude/">更多..</a>教程下载</h3>
	<div class="title4">
		{king:download listid="6" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Test/">更多..</a>测试版下载</h3>
	<div class="title4">
		{king:download listid="7" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	{king:content/}

</div>