<div class="content" id="onepage">

	<h3><a href="/Help/system/">更多..</a>主系统</h3>
	<div class="title4">
		{king:article listid="1" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Help/ad/">更多..</a>广告系统</h3>
	<div class="title4">
		{king:article listid="4" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Help/OO_public/">更多..</a>自定义发布系统</h3>
	<div class="title4">
		{king:article listid="3" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/FAQ/">更多..</a>常见问题</h3>
	<div class="title4">
		{king:article listid="5" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Document/">更多..</a>技术文档</h3>
	<div class="title4">
		{king:article listid="8" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	<h3><a href="/Download/Stude/">更多..</a>教程下载</h3>
	<div class="title4">
		{king:download listid="6" number="6"}
				<span><a target="_blank" href="(king:path/)">(king:title/)</a> <i>[<a href="(king:downloadpath/)">下载</a>] [大小：(king:size/)] [发布于：(king:date mode="yy.MM.dd"/)]</i></span>
		{/king}
	</div>

	{king:content/}


</div>
